

$primaryColor: #07004D; 
$secondaryColor: #A60332;
$thirdColor: #A2999E; 
$fourthColor: #C6C7C4;
$onhoverColor: #EEF0F2; 
$black: #000000; 
$white: #ffffff; 



$defaultFont: 'Lato', sans-serif; 
$normalWeight: 300;  
$boldWeight: 700; 

$gutter: 1%; 
$gutterdbl: (2 * $gutter); 